# Load env variables and secrets on runtime for python scripts
x-secrets: &secrets
  env_file:
    - ./pipeline/python/.env
  volumes:
    - ./gcloud_key.json:/script/gcloud_key.json
  environment:
    - GOOGLE_APPLICATION_CREDENTIALS=/script/gcloud_key.json

# Test scripts in an isolated environment before deploying
services:
  web_scraping:
    image: web_scraping
    build:
      context: ./pipeline/python
      dockerfile: Dockerfile.scraping
    <<: *secrets

  data_transformations:
    image: data_transformations
    build:
      context: ./pipeline/python
      dockerfile: Dockerfile.pandas
    <<: *secrets

  dbt:
    image: dbt
    build:
      context: ./pipeline/dbt
      dockerfile: Dockerfile

    # Load env variables and secrets on runtime
    env_file:
      - ./pipeline/dbt/.env
    volumes:
      - ./gcloud_key.json:/root/gcloud_key.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/root/gcloud_key.json

    # Override the default command in the Dockerfile
    command: [ "dbt", "build", "--target", "docker" ]
